html{
    box-sizing: border-box;
    user-select: none;
    
}
*,*::before,*::after{
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    font-size: .16rem;
}
ul,ol{
    list-style: none;
}
a{
    text-decoration: none;;
}
img{
    border: none;
    display: block;
    object-fit: cover;
}
.fl{
    float: left;
}
.fr{
    float: right;
}
.cb::after{
    content: "";
    display: inline-block;
    clear: both;
}
input,textarea,button{
    border: none;
    resize: none;
    outline: none;
}
address, caption, em,i {
    font-style: normal;
}
.con_width{
    max-width: 94%;
    margin: 0 auto;
}



.wrap{
    max-width: 1024px;
    margin: 0 auto;

}
.header{
    background-color: #181a1f;
    
}
.header_con{
    height: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu_btn {
    width: .46rem;
    cursor: pointer;
}

.menu_btn .line {
    width: 100%;
    background: #fff;
    height: .04rem;
    margin: .09rem 0;
    border-radius: 2px;
}
.logo{
    display: block;
    height: .76rem;
}
.logo img{
    height: 100%;
}
.ico_user{
    display: block;
    height: .36rem;
}
.ico_user img{
    height: 100%;
}

.carousel{
    /* height: 10.56rem; */
}


.banner_container {
    width: 100%;
    height: 100%;
}

.banner_slide {
    background: #fff;
}
.banner_slide img{
    width: 100%;
}
.pagin_wrap{
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 99;
    height: 1.3rem;
    width: 100%;
    /* border: 1px solid orange; */
    display: flex;
    align-items: center;
    justify-content: center;
}


.pagin_wrap::before{
    content: "";
    display: block;
    width: 1.45rem;
    height: .12rem;
    /* border: 1px solid red; */
    background: url(../img/pagin_left.png) no-repeat;
    background-size: 100% 100%;
}
.pagin_wrap::after{
    content: "";
    display: block;
    width: 1.45rem;
    height: .12rem;
    /* border: 1px solid blue; */
    background: url(../img/pagin_right.png) no-repeat;
    background-size: 100% 100%;
}


.banner_pagination{
    /* border: 1px solid green; */
    position: unset !important;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: 0 .15rem;
    
}
.banner_pagination .swiper-pagination-bullet{
    width: .36rem;
    height: .36rem;
    background: url(../img/pagin.png) no-repeat;
    background-size: 100% 100%;
    border-radius: 0;
    opacity: 1;
    transition: .2s;
    z-index: 99;
}
.banner_pagination .swiper-pagination-bullet-active{
    background: url(../img/pagin_active.png) no-repeat;
    background-size: 100% 100%;
    margin: 0 .1rem;
}
.carousel_list01_wrap{
    position: relative;
    padding: 0 .6rem;
    border: 1px solid red;
}

.carousel_list01_wrap .more{
    font-size: .18rem;
    font-weight: bold;
    text-align: right;
    height: .65rem;
    line-height: .65rem;
    margin-top: .15rem;
}
.carousel_list01_wrap .more a{
    color: #333333;
    height: 100%;
    display: inline-block;
}

.carousel_list01_wrap .more i{
    display: inline-block;
    width: .12rem;
    height: .13rem;
    background: url(../img/ico_more.png) no-repeat;
    background-size: 100% 100%;
    margin-left: .05rem;
    

}
/* .carousel_list01{
    
} */

.c_list01_container {
    width: 100%;
    height: 100%;
}

.c_list01_slide {
    
}
.c_list01_slide img{
    width: 100%;
}
.c_list01_next,.c_list01_prev{
    width: .87rem !important;
    height: .87rem !important;
    border: 1px solid #aaa;

}

.c_list01_next{
    background: url(../img/c_list01_next_03.jpg) no-repeat;
    background-size: 100% 100%;
}
.c_list01_prev::after,.c_list01_next::after{
    display: none;
}
.c_list01_prev{
    background: url(../img/c_list01_prev_03.jpg) no-repeat;
    background-size: 100% 100%;
}
.swiper-button-next,.swiper-button-prev{
    outline: none;
}
.list01_con{
    background: #f2f2f2;
    position: relative;
}
.list01_con .activity{
    position: absolute;
    right: 0;
    top: 0;
    min-width: 1.4rem;
    height: .26rem;
    line-height: .26rem;
    text-align: center;
    font-size: .15rem;
    color: #fff;
}

.list01_con .activity.updates{
    background-color: rgba(26, 46, 51, .6);
}
.list01_con .activity.events{
    background-color: rgba(118, 15, 18, .6);
}
.list01_con .activity.new{
    background-color: rgba(26, 102, 144, .6);
}


.list01_info{
    text-align: center;
    padding: 0 .05rem;
    width: 100%;
    box-sizing: border-box;
}
.list01_info .tit{
    font-size: .27rem;
    color: #333333;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0 .3rem;
    height: .48rem;
    line-height: .48rem;
    margin-top: .05rem;
}
.list01_info .disc{
    font-size: .19rem;
    color: #333333;
    line-height: .27rem;
    margin-top: .05rem;
    padding: 0 .05rem;
    height: .85rem;

    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}
.list01_info .date{
    font-size: .15rem;
    color: #666666;
    line-height: .27rem;
    margin: .2rem 0 .1rem;
}











.menu_wrap{
    width: 100vw;
    height: 100%;
    background-color: rgba(0, 0, 0, .7);
    position: fixed;
    top: 0;
    left: -100vw;
    z-index: 999;
    transition: .2s;
}
.menu_wrap .menu{
    width: 3.25rem;
    height: 100%;
    border-right: 1px solid #6e6f70;
    /* left: -3.25rem; */
    position: relative;
    /* background: url(../img/menu_bg.png) no-repeat 100% #181a1f; */
    background-image: url(../img/menu_bg.png);
    background-color: #181a1f;
    background-size: 100%;
    background-repeat: no-repeat;
    
}
.menu_wrap.on{
    left:0;
}
/* .menu_wrap.on .menu{
    left: 0;
} */
.menu_header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .3rem .1rem .1rem .15rem;
}
.menu_close{
    width: .33rem;
    height: .4rem;
    background: url(../img/menu_close.png);
    background-size: 100% 100%;
}
.menu_lang{
    font-size: .16rem;
    color: #919193;
    display: flex;
    align-items: center;
    justify-content: center;
}
.menu_lang img{
    display: inline-block;
    width: .24rem;
    height: .25rem;
    margin-right: .08rem;
}
.menu_logo{
    width: 2.95rem;
    margin: 0 auto;
    display: block;
}
.menu_logo img{
    width: 100%;

}

/* .menu_nav{

} */
.menu_nav a{
    color: #fefefe;
}
.menu_nav>li{
    border-bottom: 1px solid #4b443e;
    
}
.menu_nav>li>a{
    padding: 0 .23rem;
    display: block;
    height: .58rem;
    line-height: .58rem;
    position: relative;
}
.menu_nav i.ico_menu{
    width: .2rem;
    height: .11rem;
    background: url(../img/ico_menu.png) no-repeat;
    background-size: 100% 100%;
    display: block;
    position: absolute;
    right: .23rem;
    top: 50%;
    transform: translateY(-50%);

}
.menu_nav>li.active>a i.ico_menu{
    background: url(../img/ico_menu_active.png) no-repeat;
    background-size: 100% 100%;
}

.menu_nav .menu_list{
    background-color: #0d0f13;
    padding: 0 0;
    max-height: 0rem;
    overflow: hidden;
    transition: all .3s;
}
.menu_nav>li.active>a{
    color: #eaa014;
}
.menu_nav>li.active .menu_list{
    background-color: #0d0f13;
    padding: .1rem 0;
    max-height: 2rem;
    overflow: hidden;
}
/* .menu_nav .menu_list>li{

} */
.menu_nav .menu_list>li>a{
    font-size: .15rem;
    line-height: .32rem;
    padding: 0 .34rem;

}






















